* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

body {
  width: auto;
  height: auto;
  background-image: url("../imgs/newspaper.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 657px;
}
#moth {
  position: absolute;
  height: 600px;
  padding-left: 290px;
  opacity: 70%;
  filter: blur(1px);
  -webkit-filter: blur(1px);
}

#comic {
  position: fixed;
  height: 560px;
  transform: rotate(15deg);
  cursor: pointer;
  bottom: 20px;
  right: 80px;
}

#photo {
  position: fixed;
  height: 300px;
  transform: rotate(-15deg);
  cursor: pointer;
  top: 90px;
  left: 40px;
}

nav {
  background-color: black;
  text-align: center;
  padding: 10px;

  a {
    text-decoration: none;
    color: aliceblue;
    font-size: 30px;
  }
}

#mmpp {
  font-size: 50px;
  text-align: center;
  margin-top: 270px;
  font-weight: bold;
  opacity: 50%;
  color: aliceblue;
  cursor: pointer;
}

#quiz {
  position: fixed;
  bottom: 20px;
  left: 20px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 30px;
  border-radius: 20px;
}
#quizW {
  position: fixed;
  bottom: 20px;
  left: 20px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 30px;
  border-radius: 20px;
}
