<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cryptid Map</title>
    <link rel="stylesheet" href="../css/styles.css" />
  </head>
  <body>
    <nav>
      <a href="mothman.html">Mothman</a>
      <a href="griffin.html">Griffin</a>
      <a href="wendigo.html">Wendigo</a>
    </nav>

  <h1>Map of Cryptids</h1>

  <div class="map-gallery">
    <a href="mothman.html">
      <img src="../imgs/newspaper.jpg" alt="Mothman - Newspaper" />
    </a>
    <a href="griffin.html">
      <img src="../imgs/background.png" alt="Griffin - Background" />
    </a>
    <a href="wendigo.html">
      <img src="../imgs/pngtree-moss-covered-trail-in-a-forest-picture-image_2776133.jpg" alt="..." />

    </a>
  </div>
</body>
</html>

</html>
