<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>mothman</title>
    <link rel="stylesheet" href="../css/styles.css" />
    <script src="../js/app.js"></script>
  </head>
  <nav>
    <a href="map.html">Map</a>
    <a href="mothman.html">Mothman</a>
    <a href="griffin.html">Griffin</a>
    <a href="wendigo.html">Wendigo</a>
  </nav>
  <body>
    <img id="moth" src="../imgs/mothman.png" alt="" />
    <p onclick="mothInfo()" id="mmpp">Moth Man</p>
    <img onclick="photoInfo()" id="photo" src="../imgs/photo.png" alt="" />
    <img onclick="comicInfo()" id="comic" src="../imgs/comic.png" alt="" />
    <button onclick="popquiz()" id="quiz">Take Quiz</button>
  </body>
</html>
