<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Wendigo</title>
    <link rel="stylesheet" href="../css/styles.css" />
    <script src="../js/wendi.js"></script>
  </head>
  <nav>
    <a href="../html/map.html">Map</a>
    <a href="mothman.html">Mothman</a>
    <a href="griffin.html">Griffin</a>
    <a href="wendigo.html">Wendigo</a>
  </nav>
  <body class="wendigoBody">
    <img id="wendi" src="../imgs/wendi.png" alt="" />
    <p onclick="wendiInfo()" id="wp">Wendigo</p>
    <img
      onclick="photoInfoW()"
      id="photoW"
      src="../imgs/wendigo_portrait.png"
      alt=""
    />
    <img
      onclick="movieInfo()"
      id="movie"
      src="../imgs/wendigo_movie.png"
      alt=""
    />
    <button onclick="popquizW()" id="quizW">Take Quiz</button>
  </body>
</html>
